.navBar {
  /* display: none; */
  position: absolute;
  width: calc(100% - 100px);
  max-width: 1400px;
  height: fit-content;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  svg {
    width: 40px;
    cursor: pointer;
  }
  svg:hover {
    opacity: 0.8;
  }
}
.leftMenu {
  display: flex;
}
.selectedBotProfile {
  display: none;
}

@media (max-width: 600px) {
  
}